<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <title>Detalle de material</title>
        <!-- CSS y JavaScrip-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
        <link rel="stylesheet" href="css/diseño.css">   
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>

    <body>
        <section class="hero is-info">
            <div class="hero-body">
               <div class="container">
                <h1 class="title">
                  <a class="button" href="{% url 'materiales:list' %}">
                    <span class="icon is-small">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                  </a>
                    Detalle de material
                </h1>
               </div>
            </div>
        </section>
        <br><br>
        <section class="table-row-hover-background-color has-text-centered">
                <p><b>ID:</b> {{ material.pk }}</p>
                <p><b>Nombre:</b> {{ material.nombre }}</p>
                <p><b>Proveedor:</b> {{ material.proveedor }}</p>
                <p><b>Descripción:</b> {{ material.descripcion }}</p>
                <p><b>Existencia:</b> {{ material.existencia }}</p>
                <p><b>Precio:</b> {{ material.precio }}</p><br><br>


                {# <a class="button is-info" href="{% url 'materiales:list' %}">Volver</a> #}
                <a class="button is-success" href="{% url 'materiales:update' material.pk %}">Editar</a>
                <a class="button is-danger" href="{% url 'materiales:delete' material.pk %}">Eliminar</a>
        </section>
        <footer class="footer has-text-centered" roler="footer">
            <img src="/static/img/logo_llama_gas.png" width="60" height="60">
            <p class="content is-small"><b>WWW.INSTALG.COM</b></p>
            <p class="content is-small">Sistema dedicado a control de materiales, intalaciones de gas y empleados.</p>
            <br>
            <p class="content is-small">Todos los derechos reservados &copy</p> 
        </footer> 
    </body>
</html>

