<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Empleados</title>
        <!-- CSS y JavaScrip-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> 
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>

    <body>
        <div class="header">
            <section class="hero is-info">
              <div class="hero-body">
                <div class="container">
                  <h1 class="title">
                    <a class="button" href="{% url 'index' %}">
                   <span class="icon is-small">
                      <i class="fas fa-arrow-left"></i>
                   </span>
                    </a>
                    Lista de Empleados
                  </h1>
                  <h2 class="subtitle">
                  
                  </h2>
                </div>
              </div>
            </section>

            <section class="section has-text-centered">
                {# <input class="input" type="text-centered" placeholder="RFC del cliente" style=" width: 50%; margin-left: -5px;">     #}
                {# <button class="button is-link">Buscar</button> #}
    <a href="{% url 'empleados:create' %}" class="button is-primary">Agregar +</a>
                <br><br>
                <table class="table is-fullwidth is-hoverable">
                    <thead>
            <tr>
                <th># Empleado</th>
                <th>Puesto</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Email</th>
                <th>Calle</th>
                <th>Colonia</th>
                <th>Delegación</th>
                <th>Municipio</th>
                <th>Código Postal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleado_list %}
                <tr>
                    <td><a href="{% url 'empleados:detail' empleado.pk %}">{{ empleado.numero }}</a></td>
                    <td>{{ empleado.tipo }}</td>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.apellido_paterno }}</td>
                    <td>{{ empleado.apellido_materno }}</td>
                    <td>{{ empleado.email }}</td>
                    <td>{{ empleado.calle }}</td>
                    <td>{{ empleado.colonia }}</td>
                    <td>{{ empleado.delegacion }}</td>
                    <td>{{ empleado.municipio }}</td>
                    <td>{{ empleado.codigo_postal }}</td>
                    <td>
                        <a href="{% url 'empleados:detail' empleado.pk %}" class="button is-info is-outlined" title="Ver detalle">
                            {# <span>Editar</span> #}
                            <span class="icon is-small">
                                <i class="fas fa-eye"></i>
                            </span>
                        </a>
                        <a href="{% url 'empleados:update' empleado.pk %}" class="button is-success is-outlined" title="Editar">
                            {# <span>Editar</span> #}
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </a>
                        <a href="{% url 'empleados:delete' empleado.pk %}" class="button is-danger is-outlined" title="Eliminar">
                            {# <span>Eliminar</span> #}
                            <span class="icon is-small">
                                <i class="fas fa-trash"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay empleados.</td>
                </tr>
            {% endfor %}
        </tbody>  
                </table>
        </section>

        <footer class="footer has-text-centered" roler="footer">
            <img src="/static/img/logo_llama_gas.png" width="60" height="60">
            <p class="content is-small"><b>WWW.INSTALG.COM</b></p>
            <p class="content is-small">Sistema dedicado a control de materiales, intalaciones de gas y empleados.</p>
            <br>
            <p class="content is-small">Todos los derechos reservados &copy</p> 
        </footer> 
    </body>
</html>

