Django==1.11
django-bulma==0.5.0
django-discover-runner==1.0
django-role-permissions==2.2.0
django-seed==0.1.9
django-widget-tweaks==1.4.2
Faker==0.8.15
gunicorn==19.8.1
psycopg2==2.7.4
PyMySQL==0.8.0
python-dateutil==2.7.3
pytz==2018.4
six==1.11.0
text-unidecode==1.2
whitenoise==3.3.1
