{% extends "base.html" %}

{% block title %}Detalle{% endblock title %}

{% block extra-css %}{% endblock extra-css %}

{% block content %}
    <h1 class="title">Detalle</h1>

    <p><b>Nombre de usuario:</b> {{ user.username }}</p>
    <p><b>Email:</b> {{ user.email }}</p>
    <p><b>Nombre:</b> {{ user.first_name }}</p>
    <p><b>Apellidos:</b> {{ user.last_name }}</p>

    <a href="{% url 'users:list' %}">Volver</a>
    <a href="{% url 'users:delete' user.pk %}">Eliminar</a>
    <a href="{% url 'users:update' user.pk %}">Editar</a>
{% endblock content %}

{% block extra-js %}{% endblock extra-js %}
