<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <title>Detalle de pedido</title>
        <!-- CSS y JavaScrip-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
        <link rel="stylesheet" href="css/diseño.css">   
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>

    <body>
        <section class="hero is-info">
            <div class="hero-body">
               <div class="container">
                <h1 class="title">
                  <a class="button" href="{% url 'pedidos:list' %}">
                    <span class="icon is-small">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                  </a>
                    Detalle de pedido
                </h1>
               </div>
            </div>
        </section>
        <br><br>
        <section class="table-row-hover-background-color has-text-centered">
                <p><b># Pedido:</b> {{ pedido.pk }}</p>
    <p><b>Empleado:</b> {{ pedido.empleado }}</p>
    <p><b>Instalación:</b> {{ pedido.instalacion }}</p>
    <p><b>Fecha:</b> {{ pedido.fecha }}</p>
    <p><b>Hora:</b> {{ pedido.hora }}</p>
    <p><b>Subtotal:</b> {{ pedido.subtotal }}</p>
    <p><b>IVA:</b> {{ pedido.iva }}</p>
    <p><b>Total:</b> {{ pedido.total }}</p><br><br>
    <ul>
        <table class="table is-hoverable is-fullwidth">
            <caption>Materiales</caption>
            <thead>
                <tr>
                    <th>Material</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad</th>
                    <th>Importe</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pedido.item_set.all %}
                    <tr>
                        <td>{{ item.material }}</td>
                        <td>{{ item.precio_unitario }}</td>
                        <td>{{ item.cantidad }} {{ item.material.unidades }}</td>
                        <td>{{ item.importe }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="has-text-right">Subtotal</td>
                    <td>{{ pedido.subtotal }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="has-text-right">IVA (16%)</td>
                    <td>{{ pedido.iva }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="has-text-right">Total</td>
                    <td>{{ pedido.total }}</td>
                </tr>
            </tfoot>
        </table><br><br>


                {# <a class="button is-info" href="{% url 'pedidos:list' %}">Volver</a> #}
                <a class="button is-success" href="{% url 'pedidos:update' pedido.pk %}">Editar</a>
                <a class="button is-danger" href="{% url 'pedidos:delete' pedido.pk %}">Eliminar</a>
        </section>
        <footer class="footer has-text-centered" roler="footer">
            <img src="/static/img/logo_llama_gas.png" width="60" height="60">
            <p class="content is-small"><b>WWW.INSTALG.COM</b></p>
            <p class="content is-small">Sistema dedicado a control de materiales, intalaciones de gas y empleados.</p>
            <br>
            <p class="content is-small">Todos los derechos reservados &copy</p> 
        </footer> 
    </body>
</html>

