{% load bulma_tags %}
<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <title>Agregar pedidos</title>
        <!-- CSS y JavaScrip-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
        <link rel="stylesheet" href="css/diseño.css">   
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>

    <body>
        <section class="hero is-info">
            <div class="hero-body">
               <div class="container">
                <h1 class="title">
                  <a class="button" href="{% url 'pedidos:list' %}">
                    <span class="icon is-small">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                  </a>
                    Agregar pedidos
                </h1>
               </div>
            </div>
        </section>
        
        <section class="section has-text-centered">
            <form method="post">
        {% csrf_token %}
            <div class="formusd columns is-centered">
                <div class="column is-8">
                    {{ form|bulma }}

                    <p>Materiales: <button id="btnAgregar" class="button is-success">Agregar +</button></p>
        <div id="materialesContainer">
            {% for item in pedido.item_set.all %}
                <div>
                    <select name="materiales" id="">
                        {% for material in materiales %}
                            <option value="{{ material.pk }}" {% if material.pk == item.material.pk %} selected {% endif %}>
                                {{ material.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="text" placeholder="Cantidad" name="cantidades" value="{{ item.cantidad }}">
                    <button class="button is-danger borrar">Borrar</button>
                </div>
            {% empty %}    
                <div>
                    <select name="materiales" id="">
                        {% for material in materiales %}
                            <option value="{{ material.pk }}">{{ material.nombre }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" placeholder="Cantidad" name="cantidades">
                    <button class="button is-danger borrar">Borrar</button>
                </div>
            {% endfor %}
        </div>
                </div>
            </div>

                <div class="field is-grouped is-grouped-centered">
                    <div class="buttonuds">
                        <p class="control">
                        <button class="button is-link">
                            <span>Agregar</span>
                            <span class="icon is-small">
                                <i class="fas fa-plus-circle"></i>
                            </span>
                        </button>
                        <a class="button is-danger" href="{{ request.META.HTTP_REFERER }}">
                            <span>Cancelar</span>
                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>
                        </a>
                        <br><br><br>
                    </div>
    </form>
        </section>
        <footer class="footer has-text-centered" roler="footer">
            <img src="/static/img/logo_llama_gas.png" width="60" height="60">
            <p class="content is-small"><b>WWW.INSTALG.COM</b></p>
            <p class="content is-small">Sistema dedicado a control de materiales, intalaciones de gas y empleados.</p>
            <br>
            <p class="content is-small">Todos los derechos reservados &copy</p> 
        </footer> 


        <script>
        const materiales = {{ materiales_json|safe }}
        const btnAgregar = document.querySelector('#btnAgregar')
        const materialesContainer = document.querySelector('#materialesContainer')

        btnAgregar.addEventListener('click', e => {
            e.preventDefault()
            const div = document.createElement('div')
            const select = document.createElement('select')
            const input = document.createElement('input')
            const btnBorrar = document.createElement('button')

            select.setAttribute('name', 'materiales');
            input.setAttribute('name', 'cantidades');
            input.setAttribute('placeholder', 'Cantidad');
            btnBorrar.setAttribute('class', 'button is-danger borrar');
            btnBorrar.append('Borrar')

            materiales.forEach(material => {
                const option = document.createElement('option')
                option.setAttribute('value', material.pk);
                option.append(material.fields.nombre)

                select.append(option)
            })

            div.append(select)
            div.append(input)
            div.append(btnBorrar)
            materialesContainer.append(div)
        })

        document.addEventListener('click', e => {
            if (e.target && e.target.classList.contains('borrar')){
                e.preventDefault()
                e.target.parentNode.remove()
            }
        })
    </script>
    </body>
</html>

