<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>pedidos</title>
        <!-- CSS y JavaScrip-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> 
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>

    <body>
        <div class="header">
            <section class="hero is-info">
              <div class="hero-body">
                <div class="container">
                  <h1 class="title">
                    <a class="button" href="{% url 'index' %}">
                   <span class="icon is-small">
                      <i class="fas fa-arrow-left"></i>
                   </span>
                    </a>
                    Lista de pedidos
                  </h1>
                  <h2 class="subtitle">
                  
                  </h2>
                </div>
              </div>
            </section>

            <section class="section has-text-centered">
                {# <input class="input" type="text-centered" placeholder="No. pedido" style=" width: 50%; margin-left: -5px;">     #}
                {# <button class="button is-link">Buscar</button> #}
    <a href="{% url 'pedidos:create' %}" class="button is-primary">Agregar +</a>
                <br><br>
                <table class="table is-fullwidth is-hoverable">
                    <thead>
            <tr>
                <th># Pedido</th>
                <th>Empleado</th>
                <th>Instalación</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Subtotal</th>
                <th>Iva</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedido_list %}
                <tr>
                    <td><a href="{% url 'pedidos:detail' pedido.pk %}">{{ pedido.pk }}</a></td>
                    <td>{{ pedido.empleado.nombre }}</td>
                    <td>{{ pedido.instalacion.pk }}</td>
                    <td>{{ pedido.fecha }}</td>
                    <td>{{ pedido.hora }}</td>
                    <td>{{ pedido.subtotal }}</td>
                    <td>{{ pedido.iva }}</td>
                    <td>{{ pedido.total }}</td>
                    <td>
                        <a href="{% url 'pedidos:detail' pedido.pk %}" class="button is-info is-outlined" title="Ver detalle">
                            {# <span>Editar</span> #}
                            <span class="icon is-small">
                                <i class="fas fa-eye"></i>
                            </span>
                        </a>
                        <a href="{% url 'pedidos:update' pedido.pk %}" class="button is-success is-outlined" title="Editar">
                            {# <span>Editar</span> #}
                            <span class="icon is-small">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </a>
                        <a href="{% url 'pedidos:delete' pedido.pk %}" class="button is-danger is-outlined" title="Eliminar">
                            {# <span>Eliminar</span> #}
                            <span class="icon is-small">
                                <i class="fas fa-trash"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay pedidos.</td>
                </tr>
            {% endfor %}
        </tbody>
                </table>
        </section>

        <footer class="footer has-text-centered" roler="footer">
            <img src="/static/img/logo_llama_gas.png" width="60" height="60">
            <p class="content is-small"><b>WWW.INSTALG.COM</b></p>
            <p class="content is-small">Sistema dedicado a control de materiales, intalaciones de gas y empleados.</p>
            <br>
            <p class="content is-small">Todos los derechos reservados &copy</p> 
        </footer> 
    </body>
</html>

