{% extends "base.html" %}

{% block title %}Detalle{% endblock title %}

{% block extra-css %}{% endblock extra-css %}

{% block content %}
    <h1 class="title">Detalle</h1>

    <p><b>RFC:</b> {{ cliente.rfc }}</p>
    <p><b>Nombre:</b> {{ cliente.nombre }}</p>
    <p><b>Apellido Paterno:</b> {{ cliente.apellido_paterno }}</p>
    <p><b>Apellido Materno:</b> {{ cliente.apellido_materno }}</p>

    <a href="{% url 'clientes:list' %}">Volver</a>
    <a href="{% url 'clientes:delete' cliente.pk %}">Eliminar</a>
    <a href="{% url 'clientes:update' cliente.pk %}">Editar</a>
{% endblock content %}

{% block extra-js %}{% endblock extra-js %}
